# comment :- used to give the description to code
this description would be ignored by interpreter.

 # for single comment

In [1]:
# this code is displaying
print("helloz") # print is used for output

helloz

In [1]:
'''this is my first code i am enjoying'''#from multiple comment we use('''''')
print("hello")

hello

## variables :- it is a container which is used to hold the data

how to create the variable

In [1]:
a = "hello" #how to create the variables
print (a)

hello

In [3]:
a = "sakshi"
a
a =5
a
print("sakshi")

sakshi

# identifiers : it is the naming rule for variables

- it should start with alphabet a-z/A-Z or only one special character is allowed i.e _
- it can have letters,numbers,and special character i.e _anywhere
- it is case sensitive
- it is not the keyword
- it could be any length

# Rule :1

In [4]:
_sakshi=90
_sakshi

90

In [4]:
sakshi

90

In [4]:
sakshi-90 # Error

NameError: name 'sakshi' is not defined

In [6]:
-sakshi = 50

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2106176116.py, line 1)

## Rule 2

In [8]:
sakshi_saini=40

In [9]:
sakshi@=50

TypeError: unsupported operand type(s) for @=: 'int' and 'int'

## Rule 3

In [5]:
sakshi=100
sakshi

100

In [7]:
SAKSHI = 20
sakshi

100

BOTH OF THIS WILL BE TREATED DIFFERENTLY

## RULE 4

keywords : they are the reserved words which has special meaning

In [8]:
import keyword

In [9]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
if =90

SyntaxError: invalid syntax (696584940.py, line 1)

In [4]:
IF AGE>18  # CASE SENSITIVE

SyntaxError: invalid syntax (1425585802.py, line 1)

rule 5

In [5]:
aseujkfoejmf=90

In [9]:
a="vaibhav"

In [10]:
a

'vaibhav'

## Data types 

- numeric
   - integer
   - float
   - complex
 - sequence type
   - `string
   - list
   - tuple
 - boolean
 - set
 - dictionary

 # numeric
  - integer

In [1]:
a = 34
print(a)
print(type(a))

34
<class 'int'>
-45
<class 'int'>

- float

In [2]:
b = 90.6
print(b)
print(type(b))

90.6
<class 'float'>

- complex

In [4]:
c = 9+5j
print(c)
print(type(c))

(9+5j)
<class 'complex'>

# sequence
- string : all the statements written in '',"",""" are the strings.
  - using ''
  - using ""
  - using """"

In [6]:
z = "madrid solution"
print(z)
print(type(z))

madrid solution
<class 'str'>

In [7]:
s = 'madrid1234'
print(s)
print(type(z))

madrid1234
<class 'str'>

In [8]:
s = "123245"
print(s)
print(type(s))

123245
<class 'str'>

### if the double or single courts in between the statement then use acc to the courts used in the statement

In [11]:
s = "hi how 'r u"
print(s)
print(type(s))

hi how 'r u
<class 'str'>

-- using """

In [21]:
s = """hi,how r you how u r doing well"""
print(s)
print(type(s))

hi,how r you how u r doing well
<class 'str'>

# list : it is the collection of multiple data

In [14]:
student=["sakshi",20,"female",7015319526] # hetrogenous list # used[]for list
print(student)
print(type(student))

['sakshi', 20, 'female', 7015319526]
<class 'list'>

In [15]:
marks=[12,13,14,15] # homogenous list
print(marks)
print(type(marks))

[12, 13, 14, 15]
<class 'list'>

# tuple :- it is similar to the list but the only difference is tuple is immutable and list is mutable

In [20]:
a =("sakshi",25,30) # used () for tuple
print(a)
print(type(a))

('sakshi', 25, 30)
<class 'tuple'>

- boolean :- for true and false

In [18]:
a =True
print(a)
print(type(a))

True
<class 'bool'>

In [22]:
a =true
print(a)
print(type(a))

NameError: name 'true' is not defined

In [19]:
b = False
print(b)
print(type(b))

False
<class 'bool'>

# Type casting :- type conversion from one data type to another

In [24]:
# int to float
a = 50
print(a)
print(type(a))
b = float(a)
print (b)
print(type(b))

50
<class 'int'>
50.0
<class 'float'>

In [25]:
# float to int
a = 50.00
print(a)
print(type(a))
b = int(a)
print (b)
print(type(b))

50.0
<class 'float'>
50
<class 'int'>

In [26]:
# int to string
a = 50
print(a)
print(type(a))
b = str(a)
print (b)
print(type(b))

50
<class 'int'>
50
<class 'str'>

In [28]:

# float to string
a = 52.36
print(a)
print(type(a))
b = str(a)
print (b)
print(type(b))

52.36
<class 'float'>
52.36
<class 'str'>

In [29]:
# string to int
a ="hello"
print(a)
print(type(a))
b = int(a)
print (b)
print(type(b))

hello
<class 'str'>

ValueError: invalid literal for int() with base 10: 'hello'

In [3]:
# string to int
a = "50"
print(a)
print(type(a))
b = int(a)
print (b)
print(type(b))

50
<class 'str'>
50
<class 'int'>

In [31]:
# string to float
a = "354"
print(a)
print(type(a))
b = float(a)
print (b)
print(type(b))

354
<class 'str'>
354
<class 'int'>

In [5]:
# string to int # it requires the double conversion
a = "345.87"
print(a)
print(type(a))
b = float(a)
print(type(b))
c = int(b)
print(type(c))

345.87
<class 'str'>
<class 'float'>
<class 'int'>

In [35]:
# bool to int 
a = True # TRUE = 1 AND FALSE = 0
print(a)
print(type(a))
b = int(a)
print (b)
print(type(b))

True
<class 'bool'>
1
<class 'int'>

In [37]:
# int TO bool  # for all +ve or -ve no it gives true value and for 0 gives false
a = 50
print(a)
print(type(a))
b = bool(a)
print (b)
print(type(b))

50
<class 'int'>
True
<class 'bool'>

In [38]:
# list to tuple
a =["sakshi",20,987456]
print(a)
print(type(a))
b = tuple(a)
print (b)
print(type(b))

['sakshi', 20, 987456]
<class 'list'>
('sakshi', 20, 987456)
<class 'tuple'>

In [39]:
#  tuple to list
a =("sakshi",20,987456)
print(a)
print(type(a))
b = list(a)
print (b)
print(type(b))

('sakshi', 20, 987456)
<class 'tuple'>
['sakshi', 20, 987456]
<class 'list'>

In [40]:
# string to list
a ="madrid"
print(a)
print(type(a))
b = list(a)
print (b)
print(type(b))

madrid
<class 'str'>
['m', 'a', 'd', 'r', 'i', 'd']
<class 'list'>

In [43]:
# list to string
a =["sakshi",20,98745654]
print(a)
print(type(a))
b = str(a)
print (b)
print(type(b))

['sakshi', 20, 98745654]
<class 'list'>
['sakshi', 20, 98745654]
<class 'str'>

In [44]:

# string to bool
s = "madrid"
print(a)
print(type(a))
b = bool(a)
print (b)
print(type(b))

['sakshi', 20, 98745654]
<class 'list'>
True
<class 'bool'>

## input():- it is inbuilt function which takes the input from the user and interpret it in string

In [1]:
a = int(input("enter the first no "))
b = int(input("enter the second no "))
a/b

enter the first no 5
enter the second no 4

1.25

In [1]:
a = 70
print(id(a)) # id gives the address of the value store in the variable a

1713458973072

 # Dynamic check typing :- it itself check the type of the variable

# print() :- it is in built function which is used to display the output

In [2]:
print(32)

32

In [3]:
a = 70
print(a)

70

In [4]:
print(2,34)

2 34

In [5]:
print(2,56.7,"hello")

2 56.7 hello

In [6]:
print() # docstring give the description of the function #value,separtor used for separte the values,end used for ending the statement by default it goes to the next line

In [9]:
print(2,56.5,9,"90.8","helloo",sep =" -",end="@")

2 -56.5 -9 -90.8 -heloo@

In [10]:
print(2,45,9,"hello")
print("helloz",end= "---------")
print("how r u")

2 45 9 hello
helloz---------how r u

# operators : USED FOR PERFORMING THE OPERATIONS
1. ARITHEMETIC

2.COMPARISIONS/RELATIONAL

3. LOGICAL 
4. SPECIAL OPERATORS
- MEMBERSHIP 
- IDENTITY
5. BITWISE

## arithmetic

In [12]:
a = int(input("enter the first number "))
b = int(input("enter the second number  "))
print("the sum of a",a,"and",b,a+b)
print("the sub of a",a,"and",b,a-b)
print("the mult of a",a,"and",b,a*b)
print("the div of a",a,"and",b,a/b)
print("the remainder of a",a,"and",b,a%b)
print("the floor div of a",a,"and",b,a//b)
print("the power of a",a,"and",b,a**b)

enter the first number 5
enter the second number  2
the sum of a 5 and 2 7
the sub of a 5 and 2 3
the mult of a 5 and 2 10
the div of a 5 and 2 2.5
the remainder of a 5 and 2 1
the floor div of a 5 and 2 2
the power of a 5 and 2 25

In [10]:
a=int(input("enter the first number "))
b=int(input("enter the second number "))
print("the sum of ",a,"and",b ,"=",a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

enter the first number 45
enter the second number 5
the sum of  45 and 5 = 50
40
225
9.0
9
0
184528125

# relational operator

In [11]:
a = int(input("enter the first number "))
b = int(input("enter the second number "))
print("the value of",a,">",b,"is",a>b)
print("the value of",a,"<",b,"is",a<b)
print("the value of",a,"==",b,"is",a==b)
print("the value of",a,">=",b,"is",a>=b)
print("the value of",a,"<=",b,"is",a<=b)
print("the value of","a!=b",b,"is",a>b)
x=b # assignment operator the value of b is assigned to x,so x gets the memory container
print("the value of x" "is",x)

enter the first number 45
enter the second number 50
the value of 45 > 50 is False
the value of 45 < 50 is True
the value of 45 == 50 is False
the value of 45 >= 50 is False
the value of 45 <= 50 is True
the value of a!=b 50 is False
the value of xis 50

# logical operator
- and
- or
- not

# or

In [16]:
True or False

True

In [17]:
25 or 0

25

In [25]:
"hello" or "hi"

'hello'

# and

In [19]:
True and False

False

In [20]:
85 and 0

0

In [21]:
90 and 50

50

# not

In [23]:
not(True)

False

In [24]:
not(-8)

False

In [26]:
not(0)

True

# special operator
it works only on string

- membership operator
  - in and not in

In [22]:
"m" in "madrid"

True

In [3]:
"mad" in "madrid"

True

In [19]:
"mad" in "madrid"

True

In [5]:
"1234" in "123456"

True

In [23]:
"hii" not in ["hello","hii"]

False

# identity operator
 it check where id is same

In [21]:
a=9
b=10
print(id(a))
print(id(b))
a is b

2371167715824
2371167715856

False

In [2]:
a=70
b=90
x=b
print(id(a))
print(id(b))
print(id(x))
print(a is b)
print(b is x)

2343643056528
2343643057168
2343643057168
False
True

# bitwise : skip this for analysis

 # escape sequence
 these are the special character which are not interpreted normally as a part of string rather they converted into their own special meaning
 
 they start with \ followed by the character

1. \n: to generate the new line

In [7]:
print("hi how r u \n hope u r doing well")

hi how r u
 hope u r doing well

 2. \t : tab

In [8]:
print("hi how r u \t hope u r doing well")

hi how r u 	 hope u r doing well

# \n how to be displayed

In [9]:
print("hi how r u students \\n hope u r doing well")

hi how r u students \n hope u r doing well

In [10]:
print("hi how r u students \\t hope u r doing well")

hi how r u students \t hope u r doing well

In [17]:
raju=24
simran=34
aditya=21
print("candid will be distributed equally how r you")

candid will be distributed equally how r you

In [12]:
print("hey sakshi \n how are you \\n")

hey sakshi
 how are you \n